ㅤ
<b><emoji id="5418077986656112171">🕵️‍♂️</emoji> Модуль-шпион. Created by Ladvix.</b>

Данный модуль предоставляет множество полезных "шпионских" функций, недоступных обычному пользователю.

<b><emoji id="5334544901428229844">🪄</emoji> Доступные команды</b>

<emoji id="5416117059207572332">▫</emoji> <code>.spy_mode { on/off }</code> — Отправьте это сообщение в чат, за которым хотите следить

<emoji id="5416117059207572332">▫</emoji> <code>.search_messages { @username } {into_group/into_file}</code> — Отправьте это сообщение в чат, в котором хотите провести поиск сообщений от пользователя @username, указав метод сохранения данных (into_group/into_file)
ㅤ
